#myMenu {
    display: none;
}

.secondBar {
    height: 40px;
    width: 100%;
    background-color: #D3D3D4;
    display: flex; 
    font-family: 'Nunito';
    align-items: center;
    justify-content: space-between; 
    padding: 0; 
}

.navImage {
    width: 50px; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Para mantener la proporción */
    margin-right: -35px; /* Espacio entre la imagen y las opciones */
}

.options {
    display: flex;
    align-items: center;
}

.options:lastChild {
    margin-left: auto; /* Mantiene la última opción (Categories) a la derecha */
}

.options a {
    color: black;
    margin: 0 10px;
}