:root {
    --width: 650px;
    --height: 650px;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: var(--width);
    height: var(--height);
    max-width: 100%;
    max-height: 100%;
}

.contornoRuleta {
    fill: none;
    stroke: black;
    stroke-width: 30px;
}

.titleText {
    text-anchor: middle;
    font-size: 16px;
    fill: white;
}

.circuloCentral {
    fill: black;
    transition: transform 2s;
}